flows.json
[
    {
        "id": "15874c508d23060a",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "795de686dd1e0b72",
        "type": "websocket-listener",
        "path": "/ws/esp32",
        "wholemsg": "false"
    },
    {
        "id": "efb28f8c5197dbab",
        "type": "ui_tab",
        "name": "HOME",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4c1a661a90c3475d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f2db16cc8e07d119",
        "type": "ui_group",
        "name": "Monitoring",
        "tab": "efb28f8c5197dbab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f47279d8ebd45776",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1875f15a0a93093",
        "type": "json",
        "z": "15874c508d23060a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "0e5abd5de8391ac6",
                "88ee327cad06edba",
                "da8ec2625f51bd33",
                "a98790f35e647f4f"
            ]
        ]
    },
    {
        "id": "88ee327cad06edba",
        "type": "ui_gauge",
        "z": "15874c508d23060a",
        "name": "",
        "group": "f2db16cc8e07d119",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Température",
        "label": "units",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "131be875579c47a9",
        "type": "ui_chart",
        "z": "15874c508d23060a",
        "name": "",
        "group": "f2db16cc8e07d119",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Niveau de gaz",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0e5abd5de8391ac6",
        "type": "ui_text",
        "z": "15874c508d23060a",
        "group": "f2db16cc8e07d119",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alarme ?",
        "format": "{{msg.payload.alarme}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 60,
        "wires": []
    },
    {
        "id": "da8ec2625f51bd33",
        "type": "debug",
        "z": "15874c508d23060a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd61a1534c9a486c",
        "type": "websocket in",
        "z": "15874c508d23060a",
        "name": "ESP32",
        "server": "795de686dd1e0b72",
        "client": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c1875f15a0a93093"
            ]
        ]
    },
    {
        "id": "a98790f35e647f4f",
        "type": "function",
        "z": "15874c508d23060a",
        "name": "function 1",
        "func": "msg.payload = msg.payload.gaz;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "131be875579c47a9"
            ]
        ]
    }
]